body,
main {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 50vh;
  overflow: auto;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.messages {
  height: 50vh;
  overflow: auto;
  background-color: #000000;
  padding: 20px;
  color: #ffffff;
}

button {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  background-color: #ee7b30;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all ease-in 0.1s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button:hover {
  transform: scale(1.03);
}

button:active {
  transform: scale(1.02) translateY(3px);
}
