extends layout.pug

block content
    h3 Auth Redirect URL
    p Syncing data from apaleo.com
    p This may take upto one minute.

block messages
    h3 Query String Params
    table.tbl 
        each value, key in queryParams
            tr
                td #{key}
                td #{value}
