extends layout.pug

block content
    h3 Register Redirect URL
    p Syncing data from apaleo.com...

block messages
    h3 Query String Params
    table.tbl 
        each value, key in queryParams
            tr
                td #{key}
                td #{value}
