extends layout.pug

block content
    .btn-container
        a.btn-primary(href="https://identity.apaleo.com/connect/authorize?response_type=code&scope=openid profile&client_id=FSXN-AC-PAYJIM&redirect_uri=https://apaleo-oauth-example.onrender.com/apaleo-auth-redirect&state=register 23371848-524f-40e5-bdf1-c0a8d6c2fc1d") Register Using Apaleo
        a.btn-primary(href="https://identity.apaleo.com/connect/authorize?response_type=code&scope=offline_access folios.manage folios.payment-with-charges folios.read invoices.read invoices.manage openid profile setup.read reservations.read reservations.manage&client_id=FSXN-AC-PAYJIM&redirect_uri=https://apaleo-oauth-example.onrender.com/apaleo-auth-redirect&state=login 23371848-524f-40e5-bdf1-c0a8d6c2fc1d") Log in Using Apaleo

block messages
    p No messages
