extends layout.pug

block content
    .btn-container
        // TODO: Changing the scope to only "openid profile" makes identity.apaleo return an error
        //- a.btn-primary(href="https://identity.apaleo.com/connect/authorize?response_type=code&scope=openid profile&client_id=KCZM-AC-PAYJIM&redirect_uri=https://apaleo-oauth-example.onrender.com/auth/apaleo/redirect&state=23371848-524f-40e5-bdf1-c0a8d6c2fc1d") Register Using Apaleo
        a.btn-primary(href="https://identity.apaleo.com/connect/authorize?response_type=code&scope=offline_access openid profile folios.manage folios.payment-with-charges folios.read invoices.read invoices.manage reservations.read reservations.manage setup.read&client_id=KCZM-AC-PAYJIM&redirect_uri=https://apaleo-oauth-example.onrender.com/auth/apaleo/redirect&state=acbf9cb9-6e1d-4f5a-9623-84nr990232fe") Log in Using Apaleo

block messages
    p No messages
