doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="/css/styles.css")
        script.
            document.addEventListener('DOMContentLoaded', function() {
                var isLoggedIn = localStorage.getItem('logged-in');
                if (isLoggedIn === 'true') {
                    window.location.href = '/dashboard';
                }
            });
    body
        
        main
            section.container
                button(href="#") Register Using Apaleo
                button(href="#") Log in Using Apaleo
            section.messages
                ul 

